@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Sora", sans-serif;
  overflow-y: scroll;
}

body {
  background: #f0f0f0;
}

.background-color{
  background-color: #9538E2;
  height: 200px;
}